---
title: Register
---

![Auckland]($images/group-photo.jpg)

<div class="text-center font-serif text-xl sm:text-2xl mb-4 sm:underline flex items-center justify-center">
  <span class="sm:hidden icon-[material-symbols-light--keyboard-double-arrow-down]"></span>
  <span>Click below to register!</span>
  <span class="sm:hidden icon-[material-symbols-light--keyboard-double-arrow-down]"></span>
</div>

<div class="flex items-center justify-center">
  <div class="hidden sm:flex items-center [&>span]:w-10 [&>span]:h-10 -space-x-3">
    <span class="icon-[material-symbols-light--keyboard-double-arrow-right-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-right-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-right-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-right-rounded]"></span>
  </div>
  <a href="https://ti.to/osgeo-oceania/foss4g-2025" target="_blank" class="btn btn-lg btn-success rounded-full">Conference Registration</a>
  <div class="hidden sm:flex items-center [&>span]:w-10 [&>span]:h-10 -space-x-3">
    <span class="icon-[material-symbols-light--keyboard-double-arrow-left-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-left-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-left-rounded]"></span>
    <span class="icon-[material-symbols-light--keyboard-double-arrow-left-rounded]"></span>
  </div>
</div>

## Registration Information

Registration includes conference registration to presentations and talks, morning tea, lunch and afternoon tea for Wednesday 19th, Thursday 20th and Friday 21st November.

It also includes access to the Icebreaker on Tuesday 18th November and the Community Events and Code Sprints on Saturday 22nd and Sunday 23rd November.

| Type                  | Details                                                                                                                   | Cost (NZD) |
| --------------------- | ------------------------------------------------------------------------------------------------------------------------- | ---------- |
| Early Bird            | Early bird registration, available until 28th June.                                                                       | $700       |
| Standard              | General registration, available from 28th June until 20th September.                                                      | $950       |
| Last Chance           | Last minute registration after 20th September.                                                                            | $1500      |
| True Believer         | Also includes a dinner ticket and a contribution to the Travel Grant Program.                                             | $1950      |
| Student/Retired       | For secondary and tertiary students at any institution, and for people who are no longer in paid work.                    | $500       |
| Community Contributor | For open source, open data or volunteer community contributors otherwise not supported by another organisation to attend. | $500       |

Please note our [Privacy Policy.](/attend/privacy-policy)

## Optional extras

| Type                          | Details                                                                                                                                                                                                                                | Cost (NZD)   |
| ----------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------ |
| Conference T-Shirt            | Limited edition conference T-Shirt. Available in either a men's or women's cut and in multiple sizes.                                                                                                                                  | $40          |
| Conference Dinner             | Held on the evening of Wednesday 19th November, location TBC.                                                                                                                                                                          | $150         |
| Women in Geospatial Breakfast | Held on the morning of Thursday 20th November, location TBC.                                                                                                                                                                           | $15          |
| GeoChicas                     | Held on the evening of Thursday 20th November, location TBC.                                                                                                                                                                           | Your Choice! |
| Business to Business          | Held on the evening of Thursday 20th November, location TBC.                                                                                                                                                                           | $25          |
| Good Mojo                     | FOSS4G 2025 is a community-run conference by OSGeo Oceania. As a not-for-profit organisation, any additional donations to our Good Mojo fund will go toward supporting community events, travel grant programs and future conferences. | Your Choice! |

[Join our Mailing List](https://mailchi.mp/foss4g/mailing-list) to stay up-to-date with the latest news and announcements.

<!-- <FooterImage url="/imgs/2025/auckland.jpg" positionY="35%" height="300" /> -->

<!-- {/*
<div>
  <img
    className="inline-image mx-auto mt-4"
    width="500px"
    src="/imgs/2024/tshirts_mockup.webp"
  />
</div>

## Workshop registration

The workshop program has been announced. Workshops run for half a day, for more information, see the [workshops](#/program/workshops) page.

<StyledButton target="https://ti.to/osgeo-oceania/foss4g-sotm-oceania-2024-workshops">
  Workshop Registration
</button>

![Hobart waterfront near CSIRO](/imgs/csiro-waterfront.jpeg) \*/} -->
