---
title: Register
---

<svelte:head>
  <title>Register</title>
</svelte:head>


<script lang="ts">
  import Heading from '$components/Heading.svelte';
  import Link from '$components/Link.svelte';
  import Countdown from '$components/Countdown.svelte';
  import TicketOptions from '$components/TicketOptions.svelte';

</script>

<Heading>Register</Heading>

<main class="my-4 space-y-5">

  <Countdown label="Standard pricing closes in:" time="2025-09-20T00:00:00+12:00" />

  ## Get Your Tickets

  <TicketOptions />


</main>

## Registration Information

Registration includes conference registration to presentations and talks, morning tea, lunch and afternoon tea for Wednesday 19th, Thursday 20th and Friday 21st November.

It also includes access to the Icebreaker on Tuesday 18th November and the Community Events and Code Sprints on Saturday 22nd and Sunday 23rd November.

| Type                  | Details                                                                                                                   | Cost (NZD) |
| --------------------- | ------------------------------------------------------------------------------------------------------------------------- | ---------- |
| ~~Early Bird~~        | ~~Early bird registration, available until 18th July (NZT).~~                                                             | ~~$700~~   |
| Standard              | General registration, available from 19th July until 20th September.                                                      | $950       |
| Last Chance           | Last minute registration after 20th September.                                                                            | $1500      |
| True Believer         | Also includes a dinner ticket and a contribution to the Travel Grant Program.                                             | $1950      |
| Student/Retired       | For secondary and tertiary students at any institution, and for people who are no longer in paid work.                    | $500       |
| Community Contributor | For open source, open data or volunteer community contributors otherwise not supported by another organisation to attend. | $500       |

Please note our [Privacy Policy.](/attend/privacy-policy)

## Optional extras


| Type                          | Details                                                                                                                                                                                                                                | Cost (NZD)   |
| ----------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------ |
| Conference T-Shirt            | Limited edition conference T-Shirt. Available in either a men's or women's cut and in multiple sizes.                                                                                                                                  | $40          |
| Conference Dinner             | Held on the evening of Wednesday 19th November, Hilton Auckland.                                                                                                                                                                          | $150         |
| Women in Geospatial Breakfast | Held on the morning of Thursday 20th November, Amano.                                                                                                                                                                           | $15          |
| GeoChicas                     | Held on the evening of Thursday 20th November, Rocketman.                                                                                                                                                                           | Your Choice! |
| Business to Business          | Held on the afternoon of Tuesday 18th November at AUT. Network with professionals inside and outside the FOSS4G community with brief talks, canapes and drinks. (conference attendance not required) | $25          |
| Good Mojo                     | FOSS4G 2025 is a community-run conference by OSGeo Oceania. As a not-for-profit organisation, any additional donations to our Good Mojo fund will go toward supporting community events, travel grant programs and future conferences. | Your Choice! |

[Join our Mailing List](https://mailchi.mp/foss4g/mailing-list) to stay up-to-date with the latest news and announcements.

![Auckland]($images/stock/view-of-auckland-city-from-mount-eden.jpg)
