schema_name: Auckland Map
schema_description: Auckland Map
attribution: <a href="https://www.linz.govt.nz/" target="_blank">LINZ</a>, <a href="https://www.aucklandcouncil.govt.nz/" target="_blank">Auckland Council</a>

args:
  minzoom: 4
  maxzoom: 14

sources:
  linz-buildings:
    type: geopackage
    local_path: src/data/raw/lds-nz-building-outlines-GPKG.zip
  linz-coastline:
    type: shapefile
    local_path: src/data/raw/lds-nz-coastlines-and-islands-polygons-topo-1250k-SHP.zip
  linz-road-centrelines:
    type: geopackage
    local_path: src/data/raw/lds-nz-road-centrelines-topo-150k-GPKG.zip
  linz-places:
    type: geopackage
    local_path: src/data/raw/lds-nz-place-names-nzgb-GPKG.zip
  auckland-parks:
    type: geopackage
    local_path: src/data/raw/Park_Extents.gpkg
  auckland-alcohol-control-area:
    type: geopackage
    local_path: src/data/raw/Alcohol_Control_Area.gpkg

layers:

- id: coastline
  features:
  - source: linz-coastline
    geometry: polygon
    min_zoom: 4

- id: buildings
  features:
  - source: linz-buildings
    geometry: polygon
    min_zoom: 13
    min_size: 0
  tile_post_process:
    merge_polygons:
      min_area: 0

- id: parks
  features:
  - source: auckland-parks
    geometry: polygon
    min_zoom: 10
    attributes: 
    - key: name
      tag_value: 'Site Description'
    - key: area
      tag_value: 'Shape__Area'


- id: alcohol-control-area
  features:
  - source: auckland-alcohol-control-area
    geometry: polygon
    min_zoom: 10

- id: roads
  features:
  - source: linz-road-centrelines
    geometry: line
    min_size: 0
    min_zoom:
      default_value: 11
      overrides:
        6:
          hway_num: 1
        8:
          hway_num: __any__
        11:
          hway_num: ""
    attributes:
    - key: name
      tag_value: name
    - key: hway_num
      tag_value: hway_num
  tile_post_process:
    merge_line_strings:
      min_length: 0

- id: places
  features:
  - source: linz-places
    geometry: point
    min_zoom: 4
    include_when:
      feat_type:
        - Bay
        - Suburb
        - Hill
        - City
        - Town
        - Village
        - Island
        - Point
        - Railway Station
        - Locality
        - Beach
        - Lake
    attributes:
    - key: name
      tag_value: name
    - key: type
      tag_value: feat_type
