@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: light;
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

html,
body {
  width: 100%;
  height: 100%;
}
