@import 'tailwindcss';
@import '@fontsource/inter/500.css';
@import '@fontsource/kameron/500.css';
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: light;
  default: true;
  --color-primary: '#1B2430';
  --color-secondary: '#57A9BB';

  --color-primary-content: 'white';
  --color-success: '#88F15E';
  --color-success-content: var(--color-primary);
}

@layer base {
  html {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
  .font-serif {
    font-family: 'Kameron', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
  }

  .prose p > picture {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    border-radius: 20px;
    max-height: 400px;
    object-fit: cover;
    overflow: clip;
  }
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}
