body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p:has(> .popout-image:not(.inline-image)) {
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;

  @media (min-width: 768px) {
    padding-top: 1.5rem /* 24px */;
    padding-bottom: 1.5rem /* 24px */;
  }

  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.popout-image:not(.inline-image) {
  margin: auto;
  width: 1080px;
  max-width: 100%;
}

.sponsor-card,
.keynote-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease-in-out;
}

.sponsor-card:hover,
.keynote-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.line-clamp-2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.line-clamp-3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
